# Python
__pycache__/
*.py[cod]
*$py.class

# Venvs
.venv/
venv/
ENV/

# Tests / coverage
.pytest_cache/
.coverage
htmlcov/

# Build artifacts
build/
dist/
*.egg-info/
.eggs/

# Git
.git/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Env files
.env
.env.*

# Dagster state
.dagster/
