APP_ENV=local
LOG_LEVEL=INFO
API_HOST=0.0.0.0
API_PORT=8000
API_BASE_URL=http://localhost:8000
DAGSTER_HOME=.dagster

POSTGRES_USER=<user>
POSTGRES_PASSWORD=<password>
POSTGRES_SOURCE_DB=<source_db>
POSTGRES_TARGET_DB=<target_db>
POSTGRES_SOURCE_PORT=5432
POSTGRES_TARGET_PORT=5433

SOURCE_DATABASE_URL=postgresql+psycopg2://<user>:<password>@<host>:<port>/<source_db>
TARGET_DATABASE_URL=postgresql+psycopg2://<user>:<password>@<host>:<port>/<target_db>
